.navbar {
  background-color: #282c34;
  padding: 15px;
  display: flex;
  gap: 20px;
  
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link.active {
  text-decoration: underline;
}
