/* Reset some default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure full height layout */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}
